@media (min-width: 1100px) {
.conteiner {
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
}

@media (max-width: 1100px) {
	.conteiner {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.articles {
		width: 80%;
		margin: 5rem 0;
	}
	.articles_people:nth-child(even) {
		margin: 2rem 0;
	}
}